
{% if (page.header.layout == 'none') %}
	{% set layout = "" %} 
{% else %}
	{% set layout = page.header.layout %} 
{% endif %}


{% if (page.header.blend == 'auto') %}

	{% set showcase_image = page.media.images|first.grayscale().contrast(20).brightness(-125).colorize(-35,81,122) %}
	
	{% set blend="normal" %}

{% else %}

	{% set showcase_image = page.media.images|first %}
	{% set blend=page.header.blend %}

{% endif %}

{% if showcase_image %}
	{% set style = "background-blend-mode:"~blend~"; background-image: url("~showcase_image.url ~");" %}
{% else %}
	{% set style = '' %}
{% endif %}

<div class="modular-row features {{ page.header.class}} {{layout}}" style="{{style}}" >

    <div class='content'>{{ content|raw }}</div>
    <div class="feature-items">
    {% for feature in page.header.features %}
           <div class="feature">
            {% if feature.icon %}
            <i class="fa fa-fw fa-{{ feature.icon }}" aria-hidden="true"></i>
            <div class="feature-content icon-offset">
            {% else %}
            <div class="feature-content">
            {% endif %}
            {% if feature.header %}
            <h4>{{ feature.header }}</h4>
            {% endif %}
            {% if feature.text %}
            <p>{{ feature.text }}</p>
            {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
