{% if (page.header.layout == 'none') %}
	{% set layout = "" %} 
{% else %}
	{% set layout = page.header.layout %} 
{% endif %}

<div class="gn-widget listing {{ page.header.class}} {{layout}}" >
    <div class='content'>{{ content|raw }}</div>
    <ul class="list-items">
    {% for item in page.header.items %}
	<li>
		{% if item.title %}<h4>{{ item.title }}</h4>{% endif %}
		{% if item.text %}<p>{{ item.text }}</p>{% endif %}
    </li>
    {% endfor %}
    </ul>
</div>
