{% extends "partials/page.html.twig" %}
{% set do = uri.param('do') %}
{% set key = uri.query(header.query_select) %}

{% block content %}

{{ page.content|raw }}

	{% switch do %}


	{% case 'add' %}

		{% include "forms/form.html.twig" with { form: forms('insert-form') } %}

	{% case 'delete' %}

		{%-set inlinejs %}
			document.querySelector("input[name='data[where]']").value = "{{header.query_select}}="+{{key}}
		{% endset -%}

		{%- do gantry.document.addInlineScript(inlinejs, 0, 'footer') -%}

		{% include "forms/form.html.twig" with { form: forms('delete-form') } %}

	{% case 'edit' %}

		{% set this_sqlquery= header.sqlquery~' WHERE '~header.query_select~'='~key~' LIMIT 1' %}
		{% set table = '[sql-table json]'~this_sqlquery~"[/sql-table]" %}
		{% set jsres = table|shortcodes|regex_replace(['/\n|\t|\r/','/  /'],'') %}

		{{ jsres }}

		{% include "forms/form.html.twig" with { form: forms('update-form') } %}

		{%-set inlinejs %}

		var data = JSON.parse( JSON.stringify({{jsres|raw}}[0]));

		for (var k in data) {
			if (k != '{{header.query_select}}') {
				document.querySelector("input[name='data["+k+"]']").value = data[k]
			} else {
				document.querySelector("input[name='data[where]'").value = k+"="+data[k]
			}
		}

		{% endset -%}
		{%- do gantry.document.addInlineScript(inlinejs, 0, 'footer') -%}

	{% default %}

		{% set table = '[sql-table hidden="'~header.hidden~'" class="'~header.class~'" id="'~header.id~'"]'~header.sqlquery~"[/sql-table]" %}

		<div class='stripes'>
		{{ table|shortcodes|raw }}
		</div>

		{% if header.crud %}

		<p><a href='{{uri.path()}}/do:add' class='button'><i class='fa fa-plus'></i> Add</a></p>

		{%-set inlinejs %}
			var th = document.querySelector('table#{{header.id }} thead tr');
			var ths = th.innerHTML
			th.innerHTML = ths + "<th>Tools</th>";
			document.querySelectorAll('table#{{header.id }} tbody tr').forEach(function(tr) {
				var e = tr.querySelector('td:first-child');
				var v = e.innerText;
				var tds = tr.innerHTML
				tr.innerHTML = tds + "<td class='crud-tool'><a class='txt-blue' href='{{uri.path()}}/do:edit/?id="+v+"'><i class='fa fa-edit'></i></a> <a class='txt-red' href='{{uri.path()}}/do:delete/?id="+v+"'><i class='fa fa-times'></i></a>";
				tr.innerHTML += "</td>";
			});
		{% endset -%}

		{%- do gantry.document.addInlineScript(inlinejs, 0, 'footer') -%}

		{% endif %}

	{% endswitch %}

{% endblock %}
