{% extends "partials/page.html.twig" %}


{% set gal=[] %}
{% for item in header.gallery_items %}
{% set gal = gal | merge( { (item.image): {'title': item.title,'text': item.text}}) %}
{% endfor %}

{% block content %}

    {{ page.content|raw }}

{#

	{{ gal|json_encode(constant('JSON_PRETTY_PRINT')) }}

			{% if attribute(gal,image.filename) %}
			{% if gal[image.filename].title %}<h5>{{ gal[image.filename].title }}</h5>{% endif %}
			{% if gal[image.filename].text %}<p>{{ gal[image.filename].text }}</p>{% endif %}

			{% endif %}
#}

    <ul class='page-gallery'>
    {% for image in page.media.images %}
    <li class='item'>
        <div class="image-surround">
            <a href="javascript:page_lightbox('{{ image.url }}','{{ gal[image.filename].title }}','{{ gal[image.filename].text }}' );">
            {{ image.cropResize(300,200).html|raw }}
			</a>
        </div>
    </li>
    {% endfor %}
    </ul>


{% endblock %}

{% block body_bottom %}

    <div id='page-gallery-modal'>
	<div class='g-content' onclick='javascript:page_lightbox(false)'></div>
	</div>

{% endblock %}