{% extends "partials/page.html.twig" %}

{% block content %}

<div class='pg-grid'>

	<div class='pg hsl-pal'>

	<div class='chapter-header'>

		<h2>{{ page.title|raw }}</h2>
	
		<div class='main-content'>
		{{ page.content|raw }}
		</div>
	
	</div>

	</div>
	
</div>

<div class='pg-note'>
<p class='client-info'>&#128187; {{ browser.platform}} - {{ browser.browser}} {{ browser.version}}</p>
<p>Dalam situs ini, termuat penjelasan mengenai hal-hal yang digunakan/berhubungan dengan Tema "Gasnoda Noda" yang dibuat <b>Pakai Gantry Dengan Grav</b>. Gasnoda Noda adalah Tema yang dikembangkan oleh <a href='//tacoen.github.io'>tacoen</a>. Open source dan berlisensi MIT jika memungkinkan.</p>
</div>



{% set gdocu_script %}
{% endset %}
	
{%- do gantry.document.addScript(url('gantry-theme://js/gdocu.js'), 1, 'footer') -%}
{%- do gantry.document.addInlineScript(gdocu_script|trim, 0, 'footer') -%}

{% endblock %}
