{% extends 'partials/particle.html.twig' %}

{% set wrap=false %}
	
{% if particle.title %}
    {% set title = particle.twig ? gantry.theme.compile(particle.title) : particle.title -%}
    {% set title = (particle.filter ? gantry.platform.filter(title) : title)|html|raw %}
	{% set wrap=true %}
{% endif %}
{% if particle.desc %}
    {%- set desc = particle.twig ? gantry.theme.compile(particle.desc) : particle.desc -%}
    {%- set desc = (particle.filter ? gantry.platform.filter(desc) : desc)|html|raw %}
	{% set wrap=true %}
{% endif %}

{% set text =
	(wrap ? "<div class='wrapper'>" )
	~ (title ? "<div class='site-title'>"~title~"</div>" )
	~ (desc ? "<div class='site-desc'>"~desc~"</div>" )
	~ (wrap ? "</div>" ) 
%}

{% set class = (particle.class ? "class="~particle.class~"") %}

{% if particle.height is not empty %}
    {% set height = particle.height|raw %}
    {% set iconsize = (round(particle.height|raw|number_format/16)-1)*0.9~"rem" %}
    {% set margin = (round(particle.height|raw|number_format/16)-1)/3~"rem" %}
	{% set width  = particle.height|raw %}
{% else %}
    {% set height = "" %}
    {% set width = "" %}
    {% set iconsize = "1rem" %}
	{% set margin = "0" %}
{% endif %}

{% if particle.width is not empty %}
	{% set width = particle.width|raw %}
{% endif %}


{% set logo %}

	<div class='site-logo' style='width:{{width}};height:{{height}}'>
	
	{% if particle.svg is not empty %}
		<div class='svg'>{{ particle.svg|raw }}</div>
	{% elseif particle.image is not empty %}
		<img src="{{ url(particle.image) }}" alt="{{ title }}">
	{% elseif particle.icon is not empty %}
		<i style="font-size:{{ iconsize }};" class="icon {{ particle.icon }}" title="{{ title }}"></i>
	{% endif %}
	
	</div>
	
{% endset %}

{% block particle %}



	<div id="gn-branding" {{class}}>
	<a href="/">{{ logo }}
	{{ text|raw }}
	</a></div>
	
{% endblock %}