{% extends '@nucleus/partials/particle.html.twig' %}
{% block particle %}
	{% if particle.items|length > 0 %}
	<div class='gn-carousel hsl-pal' style='--color:{{particle.color|e}}max-height:{{particle.height|e}};height:{{particle.height|e}};'>
	{% set n = 0 %}
	{% for item in particle.items %}
		{% if particle.layout == 'frames' %}
		<div class='carousel-item frames {% if n==0 %}slide-show{% else %}slide-hide{% endif %}'>
		<div class='content {{ item.variations }}'>
		{% if item.image %}
			<div class='image'><img src='{{ item.image|url }}'></div>
		{% endif %}
		{% set html = gantry.theme.compile(item.html) %}
			<div class='inside '>
			{{ gantry.platform.filter(html)|html|raw }}
			{% if item.url %}
			<div class='carousel-button'><a class="button primary" href="{{item.url|url}}">{{item.button}}</a></div>
			{% endif %}
			</div>
		</div>
		</div>
		{% else %}
		<div {% if item.image %}style='background-image: url({{ item.image|e }});'{% endif %} class='carousel-item {% if n==0 %}slide-show{% else %}slide-hide{% endif %}'>
		{% set html = gantry.theme.compile(item.html) %}
		<div class='content'>
			<div class='inside {{ item.variations }}'>
			{{ gantry.platform.filter(html)|html|raw }}
			{% if item.url %}
			<div class='carousel-button'><a class="button primary" href="{{item.url|url}}">{{item.button}}</a></div>
			{% endif %}
			</div>
		</div>
		</div>
		{% endif %}
		{% set n = +1 %}
	{% endfor %}
		<div class='carousel-ctl'>
			<a class="prev" onclick="plusSlides(-1, {{ particle.delay }})">&#10094;</a>
			<a class="next" onclick="plusSlides(1, {{ particle.delay }})">&#10095;</a>
		</div>
		<div class="carousel-dot">
			{% set n = 0 %}
			{% for item in particle.items %}
				<span class="dot" onclick="currentSlide({{n}} , {{ particle.delay }})"></span>
				{% set n = n+1 %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url('gantry-theme://js/slider.js') }}"></script>
{% endblock %}
{% set slider_inject %}
showSlides(0, {{ particle.delay }});
{% endset %}
{% do gantry.document.addInlineScript(slider_inject, 0, 'footer') %}