{% extends '@nucleus/partials/particle.html.twig' %}
{% block particle %}
{% if particle.images|length > 0 %}


{% set idimg = 'image_slider'~random(100, 999)  %}

<div class='gn-img-slider' style='height:{{particle.height|e}};'>
<div id='{{ idimg }}' class='slide' style='width:{{ (100*particle.images|length) }}%'>
{% set n = 0 %}
{% for item in particle.images %}
	<div {% if item.image %}style='background-image: url({{ item.image|e }});'{% endif %} class='image'>
	{% if item.caption %}<div class='caption'>{{ item.caption|html|raw }}</div>{% endif %}
	</div>
	{% set n = +1 %}
{% endfor %}
</div>
</div>

{% do assets.addJs('theme://js/slider.js', {group: 'bottom'}) %}

{% set slider_inject %}
image_slider('{{ idimg }}',{{ particle.images|length }}, {{ particle.delay }},0);
{% endset %}
{% do gantry.document.addInlineScript(slider_inject, 0, 'footer') %}
{% endif %}
{% endblock %}