{% extends '@nucleus/partials/particle.html.twig' %}
{% set id = 'gn-search-box-' ~ rand(1000, 9999) %}
{% block particle %}
<div class="gn-search-wrapper" id='{{id}}'>
<form name="search" data-simplesearch-form="" id="{{id}}-form" class="gn-search-modal">
<input name="searchfield" class="search-input" aria-label="search" type="text" data-min="3" required="" placeholder="Search …" value="" data-search-invalid="Please add at least 3 characters" data-search-separator=":" data-search-input="/search/query">
</form>
<button aria-label='Search' style='
	{% if particle.height !='0px' %}height:{{particle.height|e}};{% endif %}
	{% if particle.width != '0px' %}width:{{particle.width|e}};{% endif %}' onclick='javascript:gn_searchbox_toggle(this,{{id}})' class='toggle'><i class='fa fa-flip-horizontal fa-search'></i>
</button>
</div>
{% endblock %}