{% set tag_type = segment.subtype|default('section') %}
{% set attr_id = segment.attributes.id ?: 'g-' ~ segment.id %}
{% set variations = (segment.attributes.variations ? ' ' ~ segment.attributes.variations|join(' ')) %}
{% set attr_class = segment.attributes.class
	~ ' section-'~segment.id ~ variations %}
{% set attr_extra = segment.attributes.extra|attribute_array %}
{% set boxed = segment.attributes.boxed %}
{% if boxed is not null %}
    {% set boxed = boxed|trim == '' ? gantry.config.page.body.layout.sections : boxed %}
{% endif %}

{# Gasnoda //------- #}

{%if segment.id != 'main' %}

	{%if responsive_block %}

		{% pageblock myclass %} has-res {% endpageblock %}

		{% set res_class = ' res-content' 
			~ ( segment.attributes.res_opt_swipe ? ' swipe': '' )
			~ ' ' ~ segment.attributes.res_position
		%}

		{% set attr_class = attr_class ~ res_class %}

		{% set section_ctl %}
		<button class="toggle res-ctl {{ segment.attributes.res_offcanvas }}
			{%if segment.attributes.res_title %} text{% endif %}
			{{segment.attributes.res_position}}
			{%if segment.attributes.res_opt_always %} show{% endif %} {{variations}}"
			data-section='#{{attr_id}}'>
		<i class='{{segment.attributes.res_icon}}'></i>
		{%if segment.attributes.res_title %}<span>{{segment.attributes.res_title}}</span>{% endif %}
		</button>
		{% endset %}	


	{% endif %}
{% endif %}

{% set section_nogrid = segment.attributes.no_grid %}
{% set section_noblock = segment.attributes.no_block %}
{% set section_nocontent = segment.attributes.no_content %}

{# Gasnoda //------- #}	
	

{%- set html %}

    {% if segment.children %}
        {% for segment in segments %}
            {% include '/layout/' ~ segment.type ~ '.html.twig' with { 'segments':segment.children } %}
        {% endfor %}
    {% endif %}
{% endset %}

{%- if segment.attributes.sticky or html|trim %}
    {%- if boxed is not null and (boxed == 0 or boxed == 2) %}
        {% set html %}
        <div class="g-container">{{ html|raw }}</div>
        {% endset %}
    {% endif %}

	{%if segment.attributes.blockcolor %}
		{% set attr_class = attr_class ~ ' bg' %}
	{% endif %}

    {% set html %}
    {% if boxed == 2 %}{% set attr_class = attr_class ~ ' g-flushed' %}{% endif %}
    {% set attr_class = attr_class ? ' class="' ~ attr_class|trim ~ '"' -%}
    {{ section_ctl| raw }}
	<{{ tag_type }} id="{{ attr_id }}"{{ attr_class|raw }} {{- attr_extra|raw }}>
		{{ html|raw }}
    </{{ tag_type }}>
    {%- endset %}

    {%- if boxed == 1 %}
		<div class="g-container">{{ html|raw }}</div>
    {% else %}
		{{ html|raw }}
    {% endif %}
	
{% endif %}
